{% extends 'base.html' %} {% block content %}

<h1>Profile</h1>
<div class="card">
  <p>{{ profile.first_name }}</p>
  <p><img style="width: 100px" src="/{{ profile.img }}" /></p>
  <p>{{ profile.description }}</p>
  <p>Followers 500</p>
  <p>following 2</p>
  <a href="{% url 'profile_update' profile.id %}">Edit Profile</a>
</div>
<h1>My Products</h1>
{% for product in products %}
<div class="card">
  <a href="{% url 'detail' product.id %}">
    <div class="card-content">
      <span class="card-title">{{ product.name }}</span>
      <p>description: {{ product.description }}</p>
      <p>price: {{ product.price }}</p>
    </div>
  </a>
</div>
{% endfor %}
<li>
  <a href="{% url 'products_create' %}"><button>Add Product</button></a>
</li>
<h1>Collections</h1>
{% for item in collections %}
<div class="card">
  <a href="{% url 'detail'  item.product.id  %}">
    <div class="card-content">
      <span class="card-title">{{ item.product.name }}</span>
      <p><img style="width: 100px" src="/{{ item.product.img }}" /></p>
      <p>
        available for trading: {%if item.available%}YES
        <br />price: ${{item.trading_price }}{%else%}NO{%endif%}
      </p>
      {% if currentUser == profile.user%}
      <a href="{% url 'orders_update' item.id %}"
        ><button class="waves-effect waves-light btn">
          Edit Availability
        </button></a
      >{%else%} {%if item.available%}
      <a href="{% url 'orders_update' item.id %}"
        ><button class="waves-effect waves-light btn">
          Request For Trading
        </button></a
      >{%endif%} {% endif %}
    </div>
  </a>
</div>
{% endfor %} {% endblock %}
