{% extends 'base.html' %} {% block content %}
<div class="product-detail">
  <h4>
    {{ product.name }}
  </h4>
  <img style="width:200px;" src="/{{product.img}}">
  <!-- add this single line below -->

  <div class="card-content">

    <p>
      {{ product.description }}
    </p>
    <p>Price:
      {{ product.price }}
    </p>
    <p>Quantity Avaliable:
      {{ product.quant_sell }}
    </p>
    <p>seller:
      {{ product.user }}
    </p>
    </br>


    <div class="counter">

      <div class="minus">
        <button id="minus">
          <h6>-</h6>
        </button>
      </div>

      <div class="number-entry" value="1">
        <p>0</p>
      </div>

      <div class="plus">
        <button id="plus">
          <h6>+</h6>
        </button>
      </div>

      </br>
      </br>

    </div>

    <button class="waves-effect waves-light btn" type="Add to Cart"><a href="{% url 'cart_add' product.id %}"></a>
      <i class="small material-icons">add_shopping_cart</i></a>
    </button>


  </div>


  {% endblock %}