{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col s6">
    <div class="card">
      <img style="width:200px;"src="/{{product.img}}">
      <!-- add this single line below -->

        <div class="card-content">
          <span class="card-title">
            {{ product.name }}</span>
            <p>seller:{{ product.user }}</p>
          <p>Description:
            {{ product.description }}
          </p>
          <p>Price:
            {{ product.price }}
          </p>
          <a href=""> <button>Add To Cart</button></a>
          </p>
        </div>

        <!-- and this following one as well -->
        <div class="card-action">
          <a href="{% url 'products_update' product.id %}">Edit</a>
          <form action="{% url 'products_delete' product.id %}" method="POST">
            {%csrf_token%} <button type="submit">Delete</button>
          </form>
<a href="{% url 'cart_add' product.id %}">Add To Cart</a>
<a href="{% url 'cart_clear' %}">Clear Cart</a>
<a href="{% url 'item_increment' product.id %}">Increament</a>
<a href="{% url 'item_decrement' product.id %}">Decrement</a>
    </div>
  </div>
</div>
{% endblock %}